/* reset */
* {
	padding: 0;
	margin: 0;
}

/** game styles **/
body {
	background: #40C0C1;
	color: #fff;
	font-family: Arial;
	text-align: center;
	padding: 20px;
}

.screen-game {
	font-size: 200px;
	width: 50%;
	margin: 40px auto;
	border-radius: 10px;

}

ul#options li {
	display: inline-block;
	padding: 10px;	
	margin: 10px;
	border-radius: 10px;
	width: 20%;
	background: rgba(1,159,131, 0.6);
	cursor: pointer;
	transition: background .4s;
}

ul#options li:hover {
	background: rgba(1,159,131, 1.0);
}

.tone-hi {
	background: #CE423F;
}
